[submodule "pybind11"]
	path = pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "abc_lib"]
	path = abc_lib
	url = https://github.com/krexspace/abc_lib.git
[submodule "xyc_shared_lib"]
	path = xyc_shared_lib
	url = https://github.com/krexspace/xyc_shared_lib.git
